/* eric meyer's reset <3 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* global */

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

html {
	font-family: Lato, "Segoe UI", Avenir, "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 600px;
}

::selection {
	background-color: #f3f0f5;
}

::-moz-selection {
	background-color: #f3f0f5;
}

/* the top */

header .logo {
	padding: 1em 0;
	background: #f34;
}

header .logo h1 {
	display: block;
	font-size: 2em;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 10px; /* related to text-shadow height */
	text-shadow:
		1px 1px 0 #000,
		2px 2px 0 #000,
		3px 3px 0 #000,
		4px 4px 0 #000,
		5px 5px 0 #000,
		6px 6px 0 #000,
		7px 7px 0 #000,
		8px 8px 0 #000,
		9px 9px 0 #000,
		10px 10px 0 #000
	;
}

header .authors {
	padding: .75em 0;
	font-size: 12pt;
	color: #666;
	background-color: #f3f0f5;
}

header .authors a {
	color: #666;
	border-bottom: 1px solid #bbb;
}

header .description {
	padding-top: 1em;
	font-size: 16pt;
	line-height: 1.5em;
}

@media screen and (min-width: 700px) {

	header .logo h1 {
		font-size: 2.5em;
	}

}

/* service list */

#service-list {}

#service-list li {
	display: block;
	padding: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid #bbb;
	vertical-align: top;
}

#service-list li h1 {
	font-weight: bold;
	font-size: 16pt;
	margin-bottom: .5em;
}

#service-list li a {
	display: block;
	line-height: 1.5em;
	color: #666;
}

#service-list li a:before {
	content: '\2022';
}